.movie-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.movie-list h1 {
  font-size: 24px;
}

.movie-item {
  align-items: center;
}

.movie-itemimg{
  height: 400px;
}

.button {
  justify-content: right;
}

왜 안되는 것 인가요 ㅠㅠ